#search {
    margin-top: 20px;
    padding: 5px;
    width: 200px;
}

#map {
    height: 380px;
    width: 800px;
    margin-top: 20px;
}

.infoWindow {
    color: red;
}

.join {
    border: 1px solid black;
    border-radius: 10px;
}

.join:hover {
    border: 1px solid blue;
    font-weight: bold;
    cursor: pointer;
}

#create {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  width: 30%;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;
}

#create:hover {
    background-color: darkblue;
}